/** Search form */
#edit-widget-search .form-type-search {
  float: left;
  width: 40%;
}

#edit-widget-search #edit-widget-search-tree {
  float: right;
  width: 40%;
}

/* Mostly copied from file_browser */
.elvis-search-results {
  margin: 0 auto;
  width: 100% !important;
}

@media only screen and (min-width: 320px) {
  .elvis-grid-sizer,
  .elvis-grid-item {
    width: 96%;
  }
  .elvis-gutter-sizer {
    width: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .elvis-grid-sizer,
  .elvis-grid-item {
    width: 46%;
  }
  .elvis-gutter-sizer {
    width: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .elvis-grid-sizer,
  .elvis-grid-item {
    width: 23%;
  }
  .elvis-gutter-sizer {
    width: 10px;
  }
}

/* Jump back down for XL screens to better utilize the space. */
@media only screen and (min-width: 1600px) {
  .elvis-grid-sizer,
  .elvis-grid-item {
    width: 15%;
  }
  .elvis-gutter-sizer {
    width: 10px;
  }
}

.elvis-grid-item {
  display: block;
  text-align: center;
  background: #383838;
  overflow: hidden;
  float: left;
  transition: .2s;
  border: 2px solid lightgray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
}

.elvis-grid-item:hover {
  border: 2px solid #37802f;
}

.elvis-grid-item.checked {
  border: 2px solid #37802f;
}

.elvis-grid-item img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.elvis-grid-item img::selection {
  background: transparent;
}

.elvis-grid-item .form-type-checkbox {
  display: none;
}

.elvis-grid-item:after {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent url("/core/misc/icons/73b355/check.svg") no-repeat center center;
  background-size: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.elvis-grid-item.checked:after {
  background-size: 80px 80px;
}

.elvis-metadata {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  color: white;
}
